.env
.git
.gitignore
.vscode
venv
.venv
__pycache__
*.py[cod]
*.log

android
frontend
assests

docs/*
md_files/*
json_files/*
excel_files/*
faiss_store/*
backend/**/__pycache__
RAG/**/__pycache__

Dockerfile
docker-compose*.yml